<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="javascripts/renderjson.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript">


    function fetchProductInfo() {
      const AsinPattern =  /[a-zA-Z0-9]{10}/
      const asin = document.getElementById("input_asin").value;

      if(asin.match(AsinPattern)){
        fetch(`products/${asin}`)
          .then((res) => { return res.json() })
          .then((data) => {
            document.getElementById("product_detail").appendChild(renderjson.set_show_to_level(1)(data));
          })
          .catch(function (err) {
            document.getElementById("product_detail").appendChild(err);
          });
      }
      else {
        alert ("Invalid ASIN format. ASIN must be a 10 character alpha-numeric sequence.");
      }
    }
    </script>

    <title><%= title %></title>
  </head>
  <body>
    <div id="search_form" class="container">
      <div id="search_form">
        <h1>Welcome to <%= title %></h1>
        <input id="input_asin" type="text" name="asin" placeholder="ASIN" required/>
        <button id="button_fetch">Search</button>
      </div>
      <div style="padding-top: 5px;">
        <b>Sample ASINs:</b>
        <ul>
          <li>B002QYW8LW</li>
          <li>B006TIMNL6</li>
          <li>B07D59SHX3</li>
          <li>B002K9KVH6</li>
        </ul>
      </div>
      <div id="product_detail" class="container product_detail_container "></div>
      <script>
        document.getElementById('button_fetch').addEventListener('click', fetchProductInfo);
      </script>
    </div>
  </body>
</html>
